body {    
    background-color: #f5f6fa;
}



.list-group-item.active {
    background-color: #577399;
    border: none;
}
/*Breadcrumb fundo*/
.breadcrumb-bgcolor {
    background-color: #577399;
}

.breadcrumb-item::before {
    color: #fff !important;
}

.breadcrumb-item a {
    color: #fff;
}
/*Cards E Botões HOME*/
.btn-custom {
    background-color: #577399 !important;
    color: white;
}
.btn-custom:hover {
    background-color: #343a40!important;
    color: white;
}

a.ancor-color {
    color: #f00f00 !important;
}


.btn-link {
    margin: 0 4px;
    color: #577399 !important;
    
}
.btnlink-outline {
    
    border: solid !important;
    border-width: thin !important;
    color: #577399 !important;
    background-color: white !important;
}

/*Detalhes*/
.subtitle {
    background-color: white!important;
    color: #577399;
    font-size: 30px;
    border-radius: 10px;
}
.content{
    font-size: 20px !important;
    
}

