body {    
    background-color: #f5f6fa;
}

.bg-custom {
    background-color: #2f3640;
}

.list-group-item.active {
    background-color: #577399;
    border: none;
}
/*Breadcrumb fundo*/
.breadcrumb-bgcolor {
    background-color: #577399;
}

.breadcrumb-item::before {
    color: #fff !important;
}

.breadcrumb-item a {
    color: #fff;
}
/*Cards E Botões HOME*/
.btn-custom {
    background-color: #577399 !important;
    color: white;
}
.btn-custom:hover {
    background-color: #343a40!important;
    color: white;
}

a.ancor-color {
    color: #f00f00 !important;
}
.font-color {
    color: #343a40 !important;
}
.btn-link {
    margin: 0 4px;
    color: #577399 !important;
}
.btnlink-outline {
    
    border: solid !important;
    border-width: thin !important;
    color: #577399 !important;
    background-color: white !important;
}
