<div class="row ">
    <nav aria-label="breadcrumb" class="w-100">
        <ul class="breadcrumb breadcrumb-bgcolor">
            <li class="breadcrumb-item  text-white"><span class="fas fa-car-side"></span> Veículos</li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 p-1">
        <div class="card ">
            <div class="card-header">
                <h2>Veículos</h2>
                <p class="card-subtitle">Gerencie os veículos de sua frota!</p>
            </div> 

            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <button class="btn breadcrumb-bgcolor btn-sm float-right text-white"><span class="fas fa-plus"></span> Cadastrar novo veículo</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <partial name="_VehiclesTable" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

