
<nav class="navbar navbar-expand-lg navbar-dark  sticky-top" style="background-color: #25374d !important">
    <a class="navbar-brand mt-lg-0 d-md-none d-lg-none d-xs-block" asp-action="Index" asp-controller="Home">MOVTech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <!-- Visível apenas em telas pequenas -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-md-none d-lg-none d-xs-block">

            <li class="nav-item" id="Home">
                <a asp-action="Index" asp-controller="Home" class="nav-link"><span class="fas fa-home"></span> Início</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Vehicles" class="nav-link" id="Vehicles"><span class="fas fa-car-side"></span> Veículos</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Drivers" class="nav-link" id="Drivers"><span class="fas fa-user-tie"></span> Motoristas</a>
            </li>

            <li class="nav-item">
                <a asp-action="Index" asp-controller="Maps" class="nav-link" id="Maps"><span class="fas fa-map-marker-alt"></span> Mapa</a>
            </li>

            <li class="nav-item">
                <a asp-action="Index" asp-controller="EntranceAndExits" class="nav-link" id="EntranceAndExits"><span class="fas fa-exchange-alt"></span> Entradas e Saídas</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Refuels" class="nav-link" id="Refuels"><span class="fas fa-gas-pump"></span> Abastecimentos</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Maintenances" class="nav-link" id="Maintenances"><span class="fas fa-hammer"></span> Manutenções</a>
            </li>

            <li class="nav-item">
                <a asp-action="Index" asp-controller="TrafficTickets" class="nav-link" id="TrafficTickets"><span class="fas fa-balance-scale"></span> Multas</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Insurences" class="nav-link" id="Insurences"><span class="fas fa-file-contract"></span> Seguros</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="InsurenceClaims" class="nav-link" id="InsurenceClaims"><span class="fas fa-car-crash"></span> Sinistros</a>
            </li>
            @*<li class="nav-item">
                <a asp-action="Index" asp-controller="Reports" class="nav-link" id="Reports"><span class="fas fa-chart-line"></span> Relatórios</a>
            </li>*@


        </ul>



        <ul class="navbar-nav ml-auto ">
            <li class="nav-item float-right">
                <a class="nav-link" href="#"><span class="fas fa-user"></span> @User.Identity.Name</a>
            </li>
            <li class="nav-item float-right">
                <a asp-action="Logout" asp-controller="Users" class="nav-link">Sair <span class="fas fa-sign-out-alt"></span></a>
            </li>
        </ul>
    </div>
</nav>