<div class="d-none d-lg-block " style="background-color: white; min-height: 100vh">
    <nav class="navbar navbar-dark bg-custom sticky-top " style="background-color: #25374d;">
        <a class="navbar-brand" href="#">MOVTech</a>
    </nav>
    <div class="list-group list-group-flush h-100 ">
        <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action" id="Home"><span class="fas fa-home"></span> Início</a>
        <a asp-action="Index" asp-controller="Vehicles" class="list-group-item list-group-item-action" id="Vehicles"><span class="fas fa-car-side"></span> Veículos</a>
        <a asp-action="Index" asp-controller="Drivers" class="list-group-item list-group-item-action" id="Drivers"><span class="fas fa-user-tie"></span> Motoristas</a>
        <a asp-action="Index" asp-controller="Maps" class="list-group-item list-group-item-action" id="Maps"><span class="fas fa-map-marker-alt"></span> Mapa</a>
        <a asp-action="Index" asp-controller="EntranceAndExits" class="list-group-item list-group-item-action" id="EntranceAndExits"><span class="fas fa-exchange-alt"></span> Entradas e Saídas</a>
        <a asp-action="Index" asp-controller="Refuels" class="list-group-item list-group-item-action" id="Refuels"><span class="fas fa-gas-pump"></span> Abastecimentos</a>
        <a asp-action="Index" asp-controller="Maintenances" class="list-group-item list-group-item-action" id="Maintenances"><span class="fas fa-hammer"></span> Manutenções</a>
        <a asp-action="Index" asp-controller="TrafficTickets" class="list-group-item list-group-item-action" id="TrafficTickets"><span class="fas fa-balance-scale"></span> Multas</a>
        <a asp-action="Index" asp-controller="Insurences" class="list-group-item list-group-item-action" id="Insurences"><span class="fas fa-file-contract"></span> Seguros</a>
        <a asp-action="Index" asp-controller="InsurenceClaims" class="list-group-item list-group-item-action" id="InsurenceClaims"><span class="fas fa-car-crash"></span> Sinistros</a>
        @*<a asp-action="Index" asp-controller="Reports" class="list-group-item list-group-item-action" id="Reports"><span class="fas fa-chart-line"></span> Relatórios</a>*@
        
    </div>
</div>


