<div class="row ">
    <nav aria-label="breadcrumb" class="w-100">
        <ul class="breadcrumb breadcrumb-bgcolor">
            <li class="breadcrumb-item  text-white"><span class="fas fa-user-tie"></span> Entrada e Saída</li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 p-1">
        <div class="card ">
            <div class="card-body font-colors">
                <h2>Abastecimentos</h2>

                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
                <p>LOREM IPSUM DOLORS</p>
            </div>
        </div>

    </div>
</div>

