
    <style>
        body{
            background-image: url("/images/fundo-apresentação.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
            background-position-y: bottom;
            background-attachment: fixed;
        }

        .footer-copyright{
            position: absolute;
            left: 40%;
            text-align: center;
            bottom: 0;
        }
    </style>


    @*<div class="jumbotron text-white mt-4" style="background-color: rgba(45, 52, 54, 0.50);">
        <h2 class="display">Bem-vindo, Michael Willy!</h2>
        <h5>Utilize o menu lateral à esquerda para navegar pelo sistema MOVTech.</h5>
    </div>*@



